
@model ForumMakinMVCPractice.Models.TopicViewModel

<h1>Create Topic</h1>

<form asp-action="CreateTopic" method="post">
    <div class="form-group">
        <label asp-for="Topic.Title" class="control-label"></label>
        <input asp-for="Topic.Title" class="form-control" />
        <span asp-validation-for="Topic.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index" class="btn btn-success">Back to Topics</a>
